<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quienes Somos</ion-title>
  </ion-toolbar>

  <ion-breadcrumbs>
    <ion-breadcrumb href="/tabs/tab1">
      <ion-icon
        slot="end"
        name="home-outline"
      ></ion-icon>

      Home
    </ion-breadcrumb>

    <ion-breadcrumb href="/tabs/tab3">
      <ion-icon
        slot="end"
        name="book-outline"
      ></ion-icon>

      Catalogo
    </ion-breadcrumb>

    <ion-breadcrumb href="/tabs/tab4">
      <ion-icon
        slot="end"
        name="storefront-outline"
      ></ion-icon>

      Sucursales
    </ion-breadcrumb>
  </ion-breadcrumbs>
</ion-header>

<ion-content
  [fullscreen]="true"
  class="ion-padding"
>
  <ion-content >
    <ion-title
      class="ion-text-center"
      color="danger"
    >Mision</ion-title>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>
          En Netflix, queremos entretener al mundo. Independientemente de tus gustos y de donde vivas, te damos acceso a las mejores series, documentales, películas y juegos para móviles. Nuestros usuarios deciden lo que quieren ver y cuándo verlo, sin anuncios y con una sencilla suscripción.
        </p>
      </ion-label>
    </ion-item>

    <ion-title
      class="ion-text-center"
      color="danger"
    >Vision</ion-title>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>
          Convertirse en el mejor servicio de distribución global de entretenimiento, a través de contenido original y licenciamiento
        </p>
      </ion-label>
    </ion-item>

    <ion-title
      class="ion-text-center"
      color="danger"
    >Objetivos</ion-title>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>
          Aspiramos a ser la opción número uno de personas que buscan el mejor servicio de entretenimiento audiovisual, ofreciendo el mejor contenido completamente original y con sus licencias en regla.
        </p>
      </ion-label>
    </ion-item>
  </ion-content>
</ion-content>