<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="danger">
      Netflix
    </ion-title>
  </ion-toolbar>
</ion-header>>

<ion-content [fullscreen]="true" >

  <ion-list>
    <ion-item routerLink="/tabs/tab2" detail="true">
      <ion-label >Quines Somos</ion-label>
      <ion-icon name="bulb-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/tabs/tab3" detail="true">
      <ion-label>Catalogo</ion-label>
      <ion-icon name="book-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/tabs/tab4" detail="true">
      <ion-label>Sucursales</ion-label>
      <ion-icon name="storefront-outline"></ion-icon>
    </ion-item>
    </ion-list>
  
  
</ion-content>


